      <div class="row">
          <button id="backButton" type="button" class="btn btn-default" href="/">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> BACK
          </button>
      </div>
      <div class="row">
        <div class="col-xs-8">
        <h1>Irbid Governorate: Education for children with disabilities</h1>
        </div>
        <div class="col-xs-4">
          <img class="media-object pull-right" src="/src/images/acted.jpg" />
        </div>        
      </div>
      <div id="serviceDetails" class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <h2>Hours</h2>
              <p>Open at 8:30</p>
            </div>
            <div class="col-xs-6">
              <h2>Acitivity Details</h2>
              <p>Teachers training. Provision of transportation and equipment & recreational activities</p>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td class="col-xs-4">Referral Method</td>
                  <td>Email on a per case basis</td>
                </tr>
                <tr>
                  <td>Intake Criteria</td>
                  <td>Disability</td>
                </tr>
                <tr>
                  <td>Availability Day</td>
                  <td>Sun-Thurs</td>
                </tr>
                <tr>
                  <td>Accessibility</td>
                  <td>Outreach</td>
                </tr>
                <tr>
                  <td>Feedback delay</td>
                  <td>Delay One day</td>
                </tr>
                <tr>
                  <td>Availability</td>
                  <td>Every Day</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>