<!-- view when clicked on a specific service in the result list -->

<main role="main">
  
  <div class="col-sm-7">
    map goes here
  </div>
  
  <div class ="col-xs-12 col-sm-5"> 
    
    <button class="btn icon-large icon-angle-left"> back</button>
   
    <div class="media">

      <div class="row media-body">
        <h2 class="media-heading">Name on the list</h2>
        <img class="media-object pull-right" src="...">
      </div>

      <div class="row">
        <div class="col-xs-5">
          <h3>Hours</h3>
          <p> opens at this time </p>
        </div>
        <div class="col-xs-7">
          <h3>Activity Details</h3>
          <p> Lorem Ipsum Dolor</p>
        </div>
        <div></div>
      </div>

      <table class="table table-striped">
        <tr>
          <td>content</td>
          <td>content2</td>
        </tr>
        <tr>
          <td>content</td>
          <td>content2</td>
        </tr>
      </table>
      
    </div>

  </div>
</main>
