# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules/*
css/main.css
.idea/
*.iml
bower_components/
js/app.js
js/app.min.js
.DS_Store
