      <form id="filterForm" class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12 col-md-6 pull-right">
            <div class="pull-right">
              <button id="cancelFilter" type="button" class="btn btn-secondary"
                    onclick="javascript:$('#filters').addClass('hidden');">
                {{ 'CANCEL' | translate }}
              </button>
              <button id="applyFilter" type="button" class="btn btn-secondary"
                    onclick="javascript:$('#filters').addClass('hidden');">
                {{ 'APPLY' | translate }}
              </button>
            </div>
          </div>
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            {{ 'REFERRAL_REQUIRED' | translate }}?
            <div class="pull-right">
              <input type="checkbox" ng-click="check()" id="inputReferral" value="">
            </div>
          </label>
        </div>

        <h3>{{ 'ORGANIZATIONS' | translate }}</h3>

        <!-- use this as a skeleton for a ng-repeat once we figure out getting the organization list -->
        <div ng-repeat="organization in organizations">
          <div class="form-group">
            <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
              {{organization}}
              <div class="pull-right">
                <img src="..." />
                <input ng-checked="filterSelection.indexOf(organization) > -1" ng-click="toggleSelection(organization)" type="checkbox" id="inputReferral" value="">
              </div>
            </label>  
          </div>
        </div>

        <h3>{{ 'DISTANCE' | translate }}</h3>
        <div class="form-group">    
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            Unicef
            <div class="pull-right">
              <input type="checkbox" id="inputReferral" value="">
            </div>
          </label>
        </div>
      </form>