      <form id="filterForm" class="form-horizontal">
        <div class="form-group">
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            Referral Required?
            <div class="pull-right">
              <input type="checkbox" id="inputReferral" value="">
            </div>
          </label>
          <div class="col-xs-12 col-md-6">
            <div class="pull-right">
              <button id="cancelFilter" type="button" class="btn btn-secondary"
                    onclick="javascript:$('#filters').addClass('hidden');">
                Cancel
              </button>
              <button id="applyFilter" type="button" class="btn btn-secondary"
                    onclick="javascript:$('#filters').addClass('hidden');">
                Apply
              </button>
            </div>
          </div>
        </div>
        <h3>Organizations</h3>
        <div class="form-group">
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            Unicef
            <div class="pull-right">
              <img src="..." />
              <input type="checkbox" id="inputReferral" value="">
            </div>
          </label>
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            Unicef
            <div class="pull-right">
              <img src="..." />
              <input type="checkbox" id="inputReferral" value="">
            </div>
          </label>
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            Unicef
            <div class="pull-right">
              <img src="..." />
              <input type="checkbox" id="inputReferral" value="">
            </div>
          </label>
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            Unicef
            <div class="pull-right">
              <img src="..." />
              <input type="checkbox" id="inputReferral" value="">
            </div>
          </label>
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            Unicef
            <div class="pull-right">
              <img src="..." />
              <input type="checkbox" id="inputReferral" value="">
            </div>
          </label>
        </div>
        <h3>Distance</h3>
        <div class="form-group">    
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            Unicef
            <div class="pull-right">
              <input type="checkbox" id="inputReferral" value="">
            </div>
          </label>
        </div>
      </form>