      <form id="filterForm" class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12 col-md-6 pull-right">
            <div class="pull-right">
              <button id="cancelFilter" type="button" class="btn btn-secondary" ng-click="toggleFilters();" >
                {{ 'CANCEL' | translate }}
              </button>
              <button id="applyFilter" type="button" class="btn btn-secondary" ng-click="toggleFilters(); applyFilter();">
                {{ 'APPLY' | translate }}
              </button>
            </div>
          </div>
          <label for="inputReferral" class="col-xs-12 col-md-6 control-label">
            {{ 'REFERRAL_REQUIRED' | translate }}?
            <div class="pull-right">
              <input type="checkbox" ng-checked="referrals" ng-click="toggleReferrals(this)" id="inputReferral" value="">
            </div>
          </label>
        </div>

        <h3>{{ 'ORGANIZATIONS' | translate }}</h3>

        <!-- use this as a skeleton for a ng-repeat once we figure out getting the organization list -->
        
        <div class="form-group">

          <!-- Note organization1 and organization2 are from the same source but are just split into two for separate column   -->
          
            <!-- Looping first split array  -->
            <div ng-repeat="organization1 in organizationsArray[0]">
              <label class="col-xs-12 col-md-6 control-label organization-label">
                {{organization1}}
                <div class="pull-right">
                  <img class="organization-logo" ng-src="{{partnerLogoUrl[organization1]}}" onError="this.onerror=null;this.style.display='none';"/>
                  <input ng-checked="filterSelection.indexOf(organization1) > -1" ng-click="toggleSelection(organization1)" type="checkbox" value="">
                </div>
              </label>  
            </div>

            <!-- Looping second split array  -->
            <div ng-repeat="organization2 in organizationsArray[1]">
              <label class="col-xs-12 col-md-6 control-label organization-label">
                {{organization2}}
                <div class="pull-right">
                   <img class="organization-logo" ng-src="{{partnerLogoUrl[organization2]}}" onError="this.onerror=null;this.style.display='none';"/>
                  <input ng-checked="filterSelection.indexOf(organization2) > -1" ng-click="toggleSelection(organization2)" type="checkbox" value=""> 
                </div>
              </label>  
            </div>
  
        </div>

        <h3>{{ 'DISTANCE' | translate }}</h3>
        <div class="form-group">    
          <label class="col-xs-12 col-md-6 control-label">
            Unicef
            <div class="pull-right">
              <input type="checkbox" value="">
            </div>
          </label>
        </div>
      </form>
