  <nav id="searchNav" class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="navbar">
        <form class="navbar-form" role="search">
          <button id="filtersButton" type="button" class="btn btn-secondary col-xs-3 col-md-1 col-md-offset-2"
              onclick="javascript:$('#filters').toggleClass('hidden');">
            {{ 'FILTERS' | translate }}
          </button>
          <div class="form-group col-xs-9 col-md-6">
            <input id="searchInput" type="search" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
          </div>
          <button id="clearFilters" type="button" class="btn btn-secondary col-xs-12 col-md-1 hidden">
            <span class="glyphicon glyphicon-remove"></span> {{ 'CLEAR' | translate }}
          </button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>