<div class="row">
  <h1>{{ 'SERVICES_ADVISOR' | translate }}</h1>
  <p class="instructions">{{'SEARCH_TEXT' | translate}}</p>
</div>
<div class="row">
  <h3>{{'CATEGORY' | translate}}</h3>
  <div class="list-group">
    <div ng-init="categoryId = 'category-' + $index" id="{{categoryId}}" ng-repeat="category in categories">
      <a class="list-group-item category" ng-click="toggleCategory(categoryId)">
          <span class="glyphicon glyphicon-chevron-down"></span>
          {{category.name}} 
          <span class="badge">{{category.count}}</span>
      </a>
      <div id="{{category.name}}Activities" class="activities hidden">
        <a ng-repeat="activity in category.activities" ng-href="#/results?category={{activity.name}}" class="list-group-item">
          <span class="icon glyphicon glyphicon-star-empty"></span> {{activity.name}}
          <span class="badge">{{activity.count}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h3>{{'REGION' | translate}}</h3>
  <!-- populating the catgories from the SearchCtrl  -->
  <div class="list-group">
    <div ng-repeat="region in regions">
      <a href="#/results?region={{region}}" class="list-group-item">
        <span class="icon glyphicon glyphicon-star-empty"></span> {{region | translate}}
      </a>
    </div>
  </div>
</div>
<div class="row">{{ 'POWERED_BY' | translate }}</div>

<script>
  $('#mapContainer').addClass('map-hide');
</script>
